<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <title>One Shot Photography</title>
</head>
<body class="newBody">

    <!-- Navigation bar -->
    <nav class="navNew navbar navbar-expand-lg navbar-light bg-light">

        <!-- Logotype -->
        <a class="navbar-brand ml-4 m-1 menu" href="https://emishkin.greenriverdev.com/328/Final_Project" >One Shot Photography</a>
        <a class="navbar-brand ml-4 m-1 menu" href="">Schedule Photo Shoot</a>
        <a class="navbar-brand ml-4 m-1 menu" href="">About Us</a>
        <a class="navbar-brand ml-4 m-1 menu" href="">Contact Us</a>
    </nav>
</body>