<include href="views/header.html">

    <body class="newBody">

        <!-- Navigation bar -->
        <nav class="navNew navbar navbar-expand-lg navbar-light bg-light">

            <!-- Logotype -->
            <a class="navbar-brand ml-4 m-1 menu" href="https://emishkin.greenriverdev.com/328/Final_Project/">One Shot Photography</a>
            <a class="navbar-brand ml-4 m-1 menu" href="schedule">Schedule Photo Shoot</a>
            <a class="navbar-brand ml-4 m-1 menu" href="contact">Contact Us</a>
            <a class="navbar-brand ml-4 m-1 menu" href="login">Login</a>
        </nav>
    </body>