<include href="views/header.html">

<body>

<!-- Navigation bar -->
<nav class="navNew navbar navbar-expand-lg navbar-light bg-light">

    <!-- Logotype -->
    <a class="navbar-brand ml-4 m-1 menu" href="https://agrigorenko.greenriverdev.com/328/Final_Project/" >One Shot Photography</a>
    <a class="navbar-brand ml-4 m-1 menu" href="schedule">Schedule Photo Shoot</a>
    <a class="navbar-brand ml-4 m-1 menu" href="contact">Contact Us</a>
</nav>

    <!-- Title and Contact Info -->
    <div class="jumbotron jumbotron-fluid" id="jumbotron1"></div>

    <form method="get" action="#">

        <!-- Block with fields -->
        <div class="allElem m-5">

            <div class="container mt-5">
                <h1>Request Schedule Photoshoot </h1>
                <hr>
            </div>

            <div class="row">
                <!-- Fields div -->
                <div class="col mb-5 mt-5 ml-5">
                    <!--   First Name   -->
                    <label class="font-weight-bold">First Name</label>
                    <input class="form-control" type="text" name="firstname" value="{{ @firstname }}">

                    <check if="{{ @errors['firstname'] }}">
                        <span class="alert alert-danger">{{ @errors['firstname'] }}</span><br>
                    </check>

                    <!--   Last Name  -->
                    <label class="font-weight-bold mt-4">Last Name</label>
                    <input class="form-control" type="text" name="lastname" value="{{ @lastname }}">

                    <check if="{{ @errors['lastname'] }}">
                        <span class="alert alert-danger">{{ @errors['lastname'] }}</span><br>
                    </check>

                    <!--    Phone Number    -->
                    <label class="font-weight-bold mt-4">Phone Number</label>
                    <input class="form-control" type="text" name="phone" value="{{ @phone }}">

                    <check if="{{ @errors['phone'] }}">
                        <span class="alert alert-danger">{{ @errors['phone'] }}</span><br>
                    </check>

                    <!--   Email   -->
                    <div class="form-group">
                        <label for="email" class="font-weight-bold mt-4">Email</label><br>
                        <check if="{{ @errors['email'] }}">
                            <span class="err">{{ @errors['email'] }}</span>
                        </check>
                        <input type="text" id="email" name="email" class="form-control" placeholder="joe@joes.com" value="{{ @email}}">

                    </div>

                    <!--City-->
                    <label class="font-weight-bold mt-4">City</label>
                    <input class="form-control" type="text" name="city" value="{{ @city }}">

                    <check if="{{ @errors['city'] }}">
                        <span class="alert alert-danger">{{ @errors['city'] }}</span><br>
                    </check>

                    <label class="font-weight-bold mt-4">Type</label>
                    <select class="form-control" name="type">
                        <option value="none">Select Type of Photoshoot</option>
                        <option value="wedding">Wedding</option>
                        <option value="family">Family</option>
                        <option value="baby">Baby</option>
                        <option value="individual">Individual</option>
                    </select>


                    <label class="font-weight-bold mt-4">How Many Hours</label>
                    <select class="form-control" name="type">
                        <option value="none">Select Number of Hours</option>
                        <option value="1-2">1-2 hours</option>
                        <option value="3-4">3-4 hours</option>
                        <option value="5-6">5-6 hours</option>
                        <option value="7-8">7-8 hours</option>
                    </select>


                    <label class="font-weight-bold mt-4">Location</label>
                    <select class="form-control" name="location">
                        <option value="none">Select a Location</option>
                        <option value="outdoor">Outdoor</option>
                        <option value="studio">Studio</option>
                        <option value="home">Home Shoot</option>
                        <option value="other">Other</option>
                    </select>

                    <label class="font-weight-bold mt-4">How did you hear about us?</label>
                    <input class="form-control" type="text" name="hear">


                    <label class="font-weight-bold mt-4">Additional Information</label>
                    <textarea class="form-control" name="additional"></textarea>


                    <!-- Button div-->
                    <div class="text-center mb-5 mr-5 mt-auto p-2">
                        <input type="submit" class="btn btn-primary position-relative" value="Submit">
                    </div>

                </div>

                <div class="col mt-4 d-flex align-items-end flex-column" role="alert">
                    <div class="alert alert-secondary m-5 mb-auto p-3" role="alert">
                        <p><strong>Note:</strong> All information entered is protected by our
                            <a href="#" class="card-link">privacy policy</a>. Profile information can only
                            be viewed by others with your permission.</p>
                    </div>
                </div>
            </div>

        </div>
    </form>


</body>
</html>