<include href="views/header.html">



<body class="newBody">

    <!-- Title and Contact Info -->
    <div class="jumbotron jumbotron-fluid" id="jumbotron1"></div>

    <form method="get" action="#">

        <!-- Block with fields -->
        <div class="allElem m-5">

            <div class="container mt-5">
                <h1>Schedule Photoshoot </h1>
                <hr>
            </div>

            <div class="row">
                <!-- Fields div -->
                <div class="col mb-5 mt-5 ml-5">
                    <label class="font-weight-bold">First Name</label>
                    <input class="form-control" type="text" name="firstname" value="{{ @firstname }}">
                    <br>
                    <check if="{{ @errors['firstname'] }}">
                        <span class="alert alert-danger">{{ @errors['firstname'] }}</span><br>
                    </check>
                    <br>
                    <label class="font-weight-bold">Last Name</label>
                    <input class="form-control" type="text" name="lastname" value="{{ @lastname }}">
                    <br>
                    <check if="{{ @errors['lastname'] }}">
                        <span class="alert alert-danger">{{ @errors['lastname'] }}</span><br>
                    </check>
                    <br>
                    <label class="font-weight-bold">Age</label>
                    <input class="form-control" type="text" name="age" value="{{ @age }}">
                    <br>
                    <check if="{{ @errors['age'] }}">
                        <span class="alert alert-danger">{{ @errors['age'] }}</span><br>
                    </check>
                    <br>

                    <p class="font-weight-bold">Gender</p>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="Male" value="Male">
                        <label class="form-check-label mr-3" for="Male">Male</label>
                        <input class="form-check-input" type="radio" name="gender" id="Female" value="Female">
                        <label class="form-check-label" for="Female">Female</label>
                    </div>
                    <br><br>

                    <label class="font-weight-bold">Phone Number</label>
                    <input class="form-control" type="text" name="phone" value="{{ @phone }}">
                    <br>
                    <check if="{{ @errors['phone'] }}">
                        <span class="alert alert-danger">{{ @errors['phone'] }}</span><br>
                    </check>
                    <br>

                    <p class="font-weight-bold">Premium Membership</p>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" name="premium" id="premium" value="premium">
                        <label class="form-check-label mr-3" for="premium">Sign me up for a Premium Account!</label>
                    </div>
                    <br><br>

                </div>

                <div class="col mt-4 d-flex align-items-end flex-column" role="alert">
                    <div class="alert alert-secondary m-5 mb-auto p-3" role="alert">
                        <p><strong>Note:</strong> All information entered is protected by our
                            <a href="#" class="card-link">privacy policy</a>. Profile information can only
                            be viewed by others with your permission.</p>
                    </div>

                    <!-- Button div -->
                    <div class="text-right mb-5 mr-5 mt-auto p-2">
                        <input type="submit" class="btn btn-primary position-relative" value="Next >">
                    </div>
                </div>
            </div>

        </div>
    </form>


</body>
</html>